/*- - - - - - C O N T A C T - C A R D S - - - - - */

.card-list {
    width: 96%;
    margin-top: 50px;
    font-size: 0;
    padding: 10px 2% 0 2%;
    overflow: scroll;
}

.no-card {
    display: inline-block;
    width: 2.5%;
}

.card {
    width: 45%;
    height: 268px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    display: inline-block;
    margin-bottom: 15px
}

.banner {
    height: 120px;
    width: 100%;
    background-color: #FF8F00;
    background: linear-gradient(-135deg, rgb(238, 240, 109), rgba(240, 152, 37, 0.8), rgba(245, 86, 232, 0.8));
    background-size: cover;
    background-position: center;
}

.avatar {
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
    object-fit: cover;
}

.card h3,
a,
i {
    font-weight: lighter;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.card h3 {
    height: 27px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #212121;
}

.card a {
    padding: 2px 0px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 900
}

.card p {
    display: block;
    padding: 1px 0px;
    font-size: 14px;
    color: rgb(110, 110, 110);
    text-decoration: none;
}

.card ul {
    margin-top: 10px;
    padding: 15px 0px;
    background-color: #FF8F00;
}

.card ul a i:hover {
    transform: scale(1.5);
}