html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    font-family: "System Bold 19.0";
    overflow: hidden;
}

ul {
    list-style: None;
}

.login {
    width: 100vw;
    height: 100vh;
}

.login_top {
    height: 50%;
    position: relative;
}

.logo {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo img {
    width: 80%;
}

.login_bottom {
    height: 50%;
}

.form {
    text-align: center;
    margin-top: 40px;
}

.container {
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
}

.container button {
    padding: 0 70px;
    border-radius: 30px;
    height: 45px;
    font-size: 22px;
}

#email,
#password {
    padding: 0 55px;
    height: 30px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #FF8F00;
    background-color: white;
}

#email,
#password:placeholder-shown(:focus) {
    opacity: .5;
    pointer-events: none;
}

.btn2 {
    background-color: #FF8F00;
    color: white;
    box-shadow: 2px 2px 5px 2px #b0c4de;
}

button.btn2 {
    font-size: 1em;
}

.alert {
    margin-top: 50px;
}