<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <!-- title-->
    <title>Unknown Page</title>
</head>

<body>
    <h1>Preshot</h1>
    <a href="/">登録＆ログイン</a>
    <a href="/upload">画像アップロード</a>
    <a href="/profile">プロフィール</a>
    <a href="/home">ホーム</a>


    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src = "{{ url_for('static', filename='js/app.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>