<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css?20140527') }}">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {% block css %}{% endblock %}
    <!-- title-->
    <title>Unknown Page</title>
</head>

<body>
    <header>
        <ul class="tab-nav">
            <li class="tab left is-active">
                <a href="/" class="fas fa-users"></a>
            </li>
            <li class="tab right">
                <a href="/profile" class="fas fa-cogs"></a>
            </li>
        </ul>

    </header>

    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src = "{{ url_for('static', filename='js/app.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>