{% extends "layout.html" %}
{% block content %}


    <div class="profile">
            <!-- profile画面 -->
            <div class="profile-area">
                <div class="profile-container">

                    <p class="status">現在のメールアドレス - {{ data["email"] }}
                        <br> <input placeholder="your_email@address.com" id="email" type="email">
                    </p>

                    <p class="status">現在のパスワード - {{ data["password"] }} 
                        <br><input placeholder="4桁の数字" type="text" id="password">
                    </p>

                    <p class="status">現在の名前 - {{ data["name"] }} 
                        <br><input placeholder="Your Name" type="text" id="name">
                    </p>

                    <p class="status">現在の業界 - {{ data["industry"] }} 
                        <br><input placeholder="業界を選択" type="text" id="industry">
                    </p>

                    <button class="btn save"　type="submit" onclick="submit_entry();">Save</button>
                </div>
            </div>


            <div class="message-area">
                <div class="message-container">
                    <div class="message">
                        <p>お問い合わせ/アカウントの削除などはこちら
                        <a href="mailto:preshot.info@gmail.com">preshot.info@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>


{% endblock content %}
{% block script %}
<script>
    function submit_entry() {
        
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            email: email.value,
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        }) 
        .then(function (response) {

            if (response.status != 200) {
                console.log(`response status was not 200: ${response.status}`);
                return ;
            }

            response.json().then(function (data) {
                location.reload();
                console.log(data)
            })
        })
    }
</script>
{% endblock %}
