{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block title %}
  <title>Preshot/Employee</title>
{% endblock %}

{% block content %}    
  <!-- Contact Card ~ #01 -->
  {% if file %}
    <div class="card" id={{file.id}}>
      <h3>{{ file.name }}</h3>
      <img src=/{{file.filename}} alt="pic1">
      <p class="texter">会社 - {{ file.firm }}</p> 
      <p class="texter">業界 -{{ file.industry }}</p>
      <p class="texter">会社 - {{ file.position }}</p> 
      <p class="texter">会社 - {{ file.lab }}</p> 
      <p class="texter">業界 -{{ file.club }}</p>
      <p class="texter">会社 - {{ file.wagamanchi }}</p> 
      <a href="/employee/{{file.id}}"><button>連絡してみる</button><a>
    </div>
  {% else %}
    <h2>No files</h2>
  {% endif %} 
{% endblock content %}