{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"> {% endblock %} {% block title %}
<title>Preshot/Profile</title>
{% endblock %} {% block content %}
<div class="profile">
    <div class="profile-box">
        <!-- profile画面 -->
        <div class="profile-area">
            <div class="profile-container">

                <p class="status mail-address">E-Mail
                    <br> {{ data["email"] }}
                    <!-- <br> <input placeholder="your_email@address.com" id="email" type="email">
                        needs to be get rid of-->
                </p>

                <p class="status">password - {{ data["password"] }}
                    <br><input placeholder="新しいパスワード" type="text" id="password">
                </p>

                <p class="status">名前 - {{ data["name"] }}
                    <br><input placeholder="新しい名前" type="text" id="name">
                </p>

                <div class="status btn-select">業界 - {{ data["industry"] }}
                    <p class="label">業界を選択してください</p>
                    <select class="select" id="industry" name="業界" size="1">
                                <option value="業界を選択してください" selected>業界を選択してください</option>
                                <option value="商社">商社</option>
                                <option value="メーカー">メーカー</option>
                                <option value="小売">小売</option>
                                <option value="金融">金融</option>
                                <option value="サービス">サービス</option>
                                <option value="マスコミ">マスコミ</option>
                                <option value="IT・通信">IT・通信</option>
                                <option value="官公庁・公社・団体">官公庁・公社・団体</option>
                                <option value="その他">その他</option>
                        </select>
                </div>
                <button class="btn save" 　type="submit" onclick="submit_entry();">変更</button>
                <div class="message">
                    <p>お問い合わせ/アカウントの削除などはこちら
                        <a href="mailto:preshot.info@gmail.com">preshot.info@gmail.com</a>
                    </p>
                </div>
            </div>


        </div>




    </div>
</div>


{% endblock content %} {% block script %}
<script>
    function submit_entry() {

        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {

                if (response.status != 200) {
                    console.log(`response status was not 200: ${response.status}`);
                    return;
                }

                response.json().then(function(data) {
                    location.reload();
                    console.log(data)
                })
            })
    }
</script>
<script>
    $('.select').on('change', function() {
        var $this = $(this)
        var $option = $this.find('option:selected');
        $('.label').text($option.text());
        // onchange後にフォーカスしてるのが嫌な場合
        $this.blur();
    });
</script>
{% endblock %}