{% extends "layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"> 
{% endblock %}

{% block title %}
  <title>Preshot/Upload</title>
{% endblock %}

{% block content %}
<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <div class="upload-area">
            <div class="upload-container">

                <div class="status">
                    <p>image</p>
                    <div class="image-upload">choose
                        <input oninput="filesize(this);" type="file" class="custome-file-input" id="image" onchange="uv.style.display='inline-block'; uv.value=this.value;" />
                        <input type="text" id="uv" class="uploadValue" disabled />
                    </div>
                </div>

                <p class="status">name
                    <br> <input placeholder="your name" id="name" type="text">
                </p>

                <p class="status">link
                    <br><input placeholder="Enter your link" type="text" id="link">
                </p>

                <p class="status">faculty
                    <br><input placeholder="Enter your faculty" type="faculty" id="faculty">
                </p>

                <p class="status">firm
                    <br><input placeholder="Enter your firm" type="firm" id="firm">
                </p>

                <div class="status btn-select">industry
                    <p class="label">業界を選択してください</p>
                    <select class="select" id="industry" name="industry" size="1">
                        <option value="業界を選択してください" selected>業界を選択してください</option>
                        <option value="商社">商社</option>
                        <option value="メーカー">メーカー</option>
                        <option value="小売">小売</option>
                        <option value="金融">金融</option>
                        <option value="サービス">サービス</option>
                        <option value="マスコミ">マスコミ</option>
                        <option value="IT・通信">IT・通信</option>
                        <option value="官公庁・公社・団体">官公庁・公社・団体</option>
                        <option value="その他">その他</option>
                    </select>
                </div>

                <p class="status">potsition
                    <br><input placeholder="Enter your potsition" type="potsition" id="potsition">
                </p>

                <p class="status">lab
                    <br><input placeholder="Enter your lab" type="lab" id="lab">
                </p>

                <p class="status">club
                    <br><input placeholder="Enter your club" type="club" id="club">
                </p>

                <p class="status">wagamanchi
                    <br><input placeholder="Enter your wagamanchi" type="wagamanchi" id="wagamanchi">
                </p>

                <button class="btn submit" 　type="submit">Data Commit</button>
            </div>
        </div>
    </form>


    <div class="message-area">
        <div class="message-container">
            <div class="message">
                <p>お問い合わせ/アカウントの削除などはこちら
                    <a href="mailto:preshot.info@gmail.com">preshot.info@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 

{% block script %}
<script>
    function filesize(elem) {

        document.cookie = `filesize=${elem.files[0].size}`;

    }
</script>
<script>
    $('.select').on('change', function() {
        var $this = $(this)
        var $option = $this.find('option:selected');
        $('.label').text($option.text());
        // onchange後にフォーカスしてるのが嫌な場合
        $this.blur();
    });
</script>
<script>
    function submit_entry() {
        
        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        }) 
        .then(function (response) {

            if (response.status != 200) {
                console.log(`response status was not 200: ${response.status}`);
                return ;
            }

            response.json().then(function (data) {
                location.reload();
                console.log(data)
            })
        })
    }
</script>
{% endblock %}